.box{
    height: 400px;
    font-family: sans-serif;
    /* background: url(../../assets/background.jpg); */
    background: #A9A9A9;
    margin: 0;
    padding: 0;
  }
.box h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 50px;
    color: #FFA500;
    font-weight: 600;
}
.logOut{
  border: none;
  outline: none;
  color: #fff;
  background: #e50000;
  height: 50px;
  width: 90px;
  font-size: 18px;
  position: absolute;
  left: 90%;
  cursor: pointer;
  box-shadow: 10px 6px 9px 1px #696969;
}
.logOut:hover{
  background: #ff0000;
}
.box ul li{
  list-style: none;
  display: inline-block;
  border: 1px solid #FFA500;
  width: 180px;
  height: 150px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  width: 20%;
  outline: none;
  color: #fff;
  background: #FFA500;
  border: none;
  cursor: pointer;
  box-shadow: 10px 6px 9px 1px #696969;
}
.box ul li:hover{
  background: #FFFF66;
}
.delete{
  margin: 0;
  padding: 2px;
  float: right;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;
  border-radius: 100%;

}
.delete:hover{
  background: #ff0000;
}
.edit{
  margin: 0;
  padding: 2px;
  float: left;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;
  border-radius: 100%;

}
.edit:hover{
  background: #ff0000;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}