.navbar{
    margin: 0;
    text-align: center;
    background: white;
    height: 50px;
}
.navlist{
    display: inline;
}
.navbar li{
    display: inline-block;
    margin: 10px;
}
.displayName{
    list-style-type: none;
    color: green;
    font-size: 20px;
    cursor: not-allowed;
    position: absolute;
    left: 20%;
}