.logOut{
    border: none;
    outline: none;
    color: #fff;
    background: #e50000;
    height: 50px;
    width: 90px;
    font-size: 18px;
    position: absolute;
    left: 90%;
    cursor: pointer;
    box-shadow: 10px 6px 9px 1px #696969;
    top: 1%;
}
.logOut:hover{
    background: #ff0000;
}
.addPost{
    border: none;
    outline: none;
    color: #fff;
    background: #e50000;
    height: 50px;
    width: 90px;
    font-size: 18px;
    position: absolute;
    right: 90%;
    cursor: pointer;
    box-shadow: 10px 6px 9px 1px #696969;
    top: 1%;
  }
  .addPost:hover{
    background: #ff0000;
  }
  .addNews{
    border: none;
    outline: none;
    color: #fff;
    background: #CCCC00;
    height: 50px;
    width: 90px;
    font-size: 18px;
    position: absolute;
    right: 90%;
    top: 1%;
    cursor: pointer;
    box-shadow: 10px 6px 9px 1px #696969;
}
.addNews:hover{
  background: #FFFF66;
}
.edit{
  margin: 0;
  padding: 2px;
  float: left;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;
  border-radius: 100%;

}
.edit:hover{
  background: #ff0000;
}
.delete{
  margin: 0;
  padding: 2px;
  float: right;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;
  border-radius: 100%;

}
.delete:hover{
  background: #ff0000;
}
.editYourPost{
  margin: 0;
  padding: 2px;
  float: left;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;

}
.editYourPost:hover{
  background: #ff0000;
}
.addYourPost{
  margin: 0;
  padding: 2px;
  float: left;
  background: #fff;
  outline: none;
  border: none;
  color: #DC143C;

}
.addYourPost:hover{
  background: #ff0000;
}
.login{
  border: none;
  outline: none;
  height: 45px;
  color: #eee9e9;
  font-size: 18px;
  background: #8b8989;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
  box-shadow: 4px 3px 9px 1px #696969;
}
.login:hover{
  background: #696969;
}
.signup{
  border: none;
  outline: none;
  height: 45px;
  color: #eee9e9;
  font-size: 18px;
  background: #8b8989;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
  box-shadow: 4px 3px 9px 1px #696969;
}
.signup:hover{
  background: #696969;
}

.blogs{
  width: 40%;
  height: 300px;
  display: inline;
  position: absolute;
  top: 10%;
  left: 8%;
  border: none;
  outline: none;
  color: #fff;
  background: #DC143C;
  border: 1px solid rgb(235, 14, 14);
  font-size: 40px;
  cursor: pointer;
  box-shadow: 10px 6px 9px 1px #696969;
}
.blogs:hover{
  background: #CD5C5C;
}
.news{
  width: 40%;
  height: 300px;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  outline: none;
  color: #fff;
  background: #FFA500;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 10px 6px 9px 1px #696969;
}
.news:hover{
  background: #FFFF66;
}