.add{
    border: none;
    outline: none;
    color: #fff;
    background: #e50000;
    height: 50px;
    width: 90px;
    font-size: 18px;
    position: absolute;
    right: 90%;
    cursor: pointer;
    box-shadow: 10px 6px 9px 1px #696969;
}
.add:hover{
  background: #ff0000;
}