@import "../Sass/variables.scss";

.box{
    font-family: sans-serif;
  .loginForm{
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    padding: 20px 40px;
    box-shadow: 10px 6px 9px 1px #696969;
    border-radius: 20px;
  h1{
    text-align: center;
    margin-bottom: 50px;
    color: $h1;
  }
  
  input{
    display: block;
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
  }
  
  label{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: $label;
  }
  
  input[type="text"],input[type="email"], input[type="password"]{
    border: none;
    border-bottom: 1px solid $label;
    background: none;
    outline: none;
    height: 30px;
    color: #8b8989;
    font-size: 14px;
  }
  
  p{
    text-align: center;
    color: #2f4f4f;
    margin-top: 30px;
  }
}

  .user{
    height: 90px;
    position: absolute;
    left: calc(50% - 50px);
    top: -62px;
  }
}