$white: #ffffff;
$black: #000000;
$grey: #696969;
$slate-grey: #2f4f4f;
$crimson: #DC143C;
$red: #ff0000;

$background-color: #ECECF4;

$loginSignup: #414663;
$loginSignupHover: #414663;

$heading: #414663;

$buttonText: #eee9e9;

$add-button: #DC143C;
$add-button-text: #fff;
$add-button-hover: #D45B64;
$add-button-text-hover: #fff;

$edit-button: #DC143C;
$edit-button-text: #fff;
$edit-button-hover:#D45B64;
$edit-button-text-hover: #fff;

$delete-button: #DC143C;
$delete-button-text: #fff;
$delete-button-hover:#D45B64;
$delete-button-text-hover: #fff;

$logout-button: #e8e4c9;
$logout-button-text: #DC143C;
$logout-button-hover:#DC143C;
$logout-button-text-hover: #fff;

$addedit-button: #414663;
$addedit-button-text: #fff;
$addedit-button-hover:#835AD4;
$addedit-button-text-hover: #fff;

$navbar: #414663;
$navbarText: #fff;
$navbarTextHover: #DC143C;

$blogs: black;
$blogsBackground: transparent;
$blogsBorder: #26A69A;
$blogsHover: #835AD4;

$news: black;
$newsBackground: transparent;
$newsBorder: #26A69A;
$newsHover: #835AD4;

$addBlogsText: #DC143C;
$addBlogsTextHover: #fff;
$addBlogsBackground: #e8e4c9;
$addBlogsBackgroundHover: #DC143C;

$addNewsText: #FFA500;
$addNewsTextHover: #fff;
$addNewsBackground: #e8e4c9;
$addNewsBackgroundHover: #FFFF66;

$editText: #DC143C;
$editTextHover: #fff;
$editBackground: #e8e4c9;
$editBackgroundHover: #DC143C;

$deleteText: #DC143C;
$deleteTextHover: #fff;
$deleteBackground: #e8e4c9;
$deleteBackgroundHover: #DC143C;

$addEdit: #26A69A;
$addEditHover: #17756c;
