$loginSignup: #26A69A;
$loginSignupHover: #17756c;
$buttonText: #eee9e9;
$h1: black;
$label: black;
$navbar: #26A69A;
$navbarText: #fff;
$navbarTextHover: #DC143C;
$logoutText: #DC143C;
$logoutTextHover: #fff;
$logoutBackground: #e8e4c9;
$logoutBackgroundHover: #DC143C;
$blogs: #DC143C;
$blogsBackground: transparent;
$blogsBorder: #26A69A;
$blogsHover: #CD5C5C;
$news: #FFA500;
$newsBackground: transparent;
$newsBorder: #26A69A;
$newsHover: #FFFF66;
$addBlogsText: #DC143C;
$addBlogsTextHover: #fff;
$addBlogsBackground: #e8e4c9;
$addBlogsBackgroundHover: #DC143C;
$addNewsText: #FFA500;
$addNewsTextHover: #fff;
$addNewsBackground: #e8e4c9;
$addNewsBackgroundHover: #FFFF66;
$editText: #DC143C;
$editTextHover: #fff;
$editBackground: #e8e4c9;
$editBackgroundHover: #DC143C;
$deleteText: #DC143C;
$deleteTextHover: #fff;
$deleteBackground: #e8e4c9;
$deleteBackgroundHover: #DC143C;
$addEdit: #26A69A;
$addEditHover: #17756c;
